---
import Layout from "./layout.astro";
---

<Layout title="Merckel.dev - Not Found">
  <section class="text-center">
    <h1 class="text-header font-bold">Not Found!</h1>
    <p class="mb-8">The page you're looking for doesn't exist.</p>
    <a href="/" class="font-bold py-2 px-4 rounded bg-primary">Go Back!</a>
  </section>
</Layout>
